body {
  font-family: 'roboto', sans-serif;
}
::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #999999;
}
/* 
.tabs {
    position: relative;   
    min-height:130px; 
    clear: both;
    margin: 25px 0;
  }
  .tab {
    float: left;
  }
  .tab label {
    background: #eee; 
    padding: 10px; 
    border: 1px solid #ccc; 
    margin-left: -1px; 
    position: relative;
    left: 1px; 
  }
  .tab [type=radio] {
    display: none;   
  }
  .content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc; 
  }
  [type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
  }
  [type=radio]:checked ~ label ~ .content {
    z-index: 1;
  } */

  section{
    text-align:center;
  }
  

  #clockdiv{
    border:1px solid black;
      font-family: sans-serif;
      color: #ffffff;
      display: inline-block;
      font-weight: 100;
      text-align: center;
      font-size: 22px;
      padding: 20px;
      margin-top:20px;
     
  }
  
  #clockdiv > div{
      padding: 15px;
      border-radius: 3px;
    
      display: inline-block;
      margin-left: 10px;
  }
  
  #clockdiv div > span{
      padding: 15px;
      border-radius: 3px;
      background: #ffffff;
      display: inline-block;
    color:black
  }
  
  .smalltext{
      padding-top: 5px;
      font-size: 12px;
    color:black
  }


  /* ...cropper.js */

  
  
  #canvas {
    height: 600px;
    width: 600px;
    background-color: #ffffff;
    cursor: default;
    border: 1px solid black;
  }




  /* ......tabs..... */


  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .tab{
    /* width: 120px; */
    text-decoration: none;
    color: inherit;
    padding: 7px 24px;
    transition: opacity 0.3s;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
  }
  .tab.tab-active{
    background-color:#673AB7;
    color:white;
  }
  .tab-content{
    /* padding:6px 12px; */
    min-height: 570px;
    animation:fadeEffect 1s;
  }
  @keyframes fadeEffect{
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }
  
  .gjs-dashed input, .gjs-dashed select{
    width: 25%;
    padding: 7px 11px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 15px;
    margin-bottom: 15px;
  }

div#wrapper {
    width: 100% !important;
}


li {
  list-style-type: none;
}



  /* .......tabs....................... */
  

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}


.gjs-dashed div {
  /* position: absolute; */
  /* z-index: 1; */
  background: #ffffff;
}

[property = absolute]{
  position: absolute;
  z-index: 1;
}
.tab-content{
  position: relative !important;
}
[data-gjs-type=tabs]{
  position: absolute;
  z-index: 1;
}

[ty="meshcell"] {
  position: relative !important;
  float: left;
  width: calc(100% / 8);
  height: 110px !important;
}

[ty="multi_component_tab"] * {
  position: initial !important;
}

[ty="1column"],
[ty="2column"],
[ty="3column"],
[ty="4column"] {
  min-height: 99%
}

[fullwidth='true'] {
  width: 100% !important;
}
checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 3px;
  margin: 10px 10px;
  }
  radio{
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 50%;
    margin: 10px 10px;
  }
  radio::after{
    content: "";
width: 12px;
height: 12px;
background: black;
position: absolute;
top: 2px;
left: 2px;
border-radius: 50%;
  }
   [data-gjs-type="multi_component_tab"] {
    width: 300px;
  }
nav{
  width: 100%;

}
  /* a{
    width: 100%;
    padding: 10px;
    padding-right: 50px;
  } */
  [ty="table"],  [ty="button"]{
    width: 117px;
    height: 109px;
    border: 1px solid #6b5959;
  }
  img{
    width: 100%
  }
  .styleviewcontainer{
    position: absolute;
    right: 0px;
    height: 93%;
    width: 16%;
    z-index: 9999;
    top: 40px;
    overflow-x: auto;
  }
  .property-box{
    display: none;
    background: #444444;
    position: absolute;
    right: 0px;
    height: 93%;
    width: 16%;
    z-index: 99999;
    top: 40px;
    overflow-x: auto;
  }
  .sub-box{
    margin-top: 20px;
  }
 .label{
  font-size: 12px;
  color: #fff;
  margin-bottom:5px;
 }
 .input_class{
  height: 25px;
  border-radius: 2px;
  border: none;
  background: #ffffff;
 }
.gjs-pn-views{
  display: none !important;
}
.gjs-pn-commands{display: none;}

[ty="multi_component_tab"],
[ty="columns_component"] {
  padding: 10px;
}

[ty="buttons_grid"] {
  padding: 10px;
  min-width: 200px;
  min-height: 60px;
}

[ty="queue_list"] {
  background-image: url(../images/designs/queue_list.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}